<h2>Admin >> Dashboard</h2>
<div class="panel panel-default products"> 
    <dl class="dl-horizontal">
      <br/>
      <dt>Total products <span class="glyphicon glyphicon-signal"></span></dt> 
      <dd> <%= link_to @product_count, [:admin, :products] %></dd>

      <br/>
      <dt>Total categories <span class="glyphicon glyphicon-signal"></span> </dt> 
      <dd><%= link_to @category_count, [:admin, :products] %></dd>
    </dl>
  </div>

